.lesson-card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.lesson-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.lesson-btn {
  padding: 14px 20px;
  border-radius: 12px;
  border: none;
  width: 100%;
  background: #4f46e5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.lesson-btn:hover {
  background: #4338ca;
}